[submodule "go/pluzzers"]
	path = go/pluzzers
	url = https://github.com/hyper0x/Golang_Puzzlers.git
[submodule "python/tvm/tvm-learn"]
	path = python/tvm/tvm-learn
	url = https://github.com/landcold7/tvm-learn.git
[submodule "cpp/reflection/rttr"]
	path = cpp/reflection/rttr
	url = https://github.com/rttrorg/rttr.git
[submodule "gnuplot/examples"]
	path = gnuplot/examples
	url = https://github.com/zakird/gnuplot-examples
[submodule "v/vc"]
	path = v/vc
	url = https://github.com/vlang/vc.git
[submodule "cpp/arg-parse/cxxopts"]
	path = cpp/arg-parse/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "javascript/history-of-programming-language"]
	path = javascript/history-of-programming-language
	url = https://github.com/jasonv/HOPL
[submodule "c/just-for-fun/game-of-life"]
	path = c/just-for-fun/game-of-life
	url = https://github.com/duckythescientist/obfuscatedLife
[submodule "assembly/wcx64"]
	path = assembly/wcx64
	url = https://github.com/eliben/wcx64.git
[submodule "c/sjtu-ipads-os/jos-labs"]
	path = c/sjtu-ipads-os/jos-labs
	url = https://github.com/gousaiyang/jos-labs.git
[submodule "python/exercises-in-programming-style"]
	path = python/exercises-in-programming-style
	url = https://github.com/crista/exercises-in-programming-style
[submodule "cpp/tensorflow-cpp-op-example"]
	path = cpp/tensorflow-cpp-op-example
	url = https://github.com/davidstutz/tensorflow-cpp-op-example
[submodule "cpp/soa-aos-data-layout"]
	path = cpp/soa-aos-data-layout
	url = https://github.com/crosetto/SoAvsAoS
