[submodule "go/pluzzers"]
	path = go/pluzzers
	url = https://github.com/hyper0x/Golang_Puzzlers.git
[submodule "python/tvm/tvm-learn"]
	path = python/tvm/tvm-learn
	url = https://github.com/landcold7/tvm-learn.git
[submodule "cpp/reflection/rttr"]
	path = cpp/reflection/rttr
	url = https://github.com/rttrorg/rttr.git
[submodule "gnuplot/examples"]
	path = gnuplot/examples
	url = https://github.com/zakird/gnuplot-examples
[submodule "cpp/antlr-cpp"]
	path = cpp/antlr-cpp
	url = https://github.com/unosviluppatore/antlr-cpp.git
